.Weather {
  border: 1px solid rgba(126, 123, 123, 0.514);
  max-width: 800px;
  border-radius: 5px;
  margin: 50px auto 0px;
  padding: 20px 5px 35px 20px;
}
.search-form {
  margin-bottom: 50px;
}
.search-city {
  display: inline-block;
  height: 50px;
  width: 100%;
  padding: 5px;
  border: 1px solid rgba(126, 123, 123, 0.514);
  border-radius: 5px;
}
.btn-branding {
  margin: 0px auto;
  display: block;
  padding: 10px 25px;
  background-color: rgb(187, 130, 240);
  color: white;
  font-size: 18px;
}
