ul {
  list-style: none;
}
.city-name {
  font-size: 50px;
  margin-bottom: 10px;
  color: rgb(85, 84, 84);
}
.temperatue {
  margin-top: 5px;
  margin-left: 25px;
  font-size: 50px;
}
.temp-uint {
  position: relative;
  top: -24px;
  font-size: 20px;
}
canvas {
  display: block;
  margin: auto;
}
